<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the   Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [ ]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [2]:
import ibm_db
import pandas as pd
import ibm_db_dbi

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [8]:
pconnect= ibm_db_dbi.Connection(connect)
launch_sites =pd.read_sql('select distinct LAUNCH_SITE from SpaceX',pconnect)
launch_sites

C:\Users\alexd\anaconda3\envs\ml_env\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    LAUNCH_SITE
0   CCAFS LC-40
1  CCAFS SLC-40
2    KSC LC-39A
3   VAFB SLC-4E

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [43]:
CCA_sites =pd.read_sql("select * from SpaceX where LAUNCH_SITE like 'CCA%' limit 5",pconnect)
CCA_sites

C:\Users\alexd\anaconda3\envs\ml_env\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,DATE,TIME__UTC_,BOOSTER_VERSION,LAUNCH_SITE,PAYLOAD,PAYLOAD_MASS__KG_,ORBIT,CUSTOMER,MISSION_OUTCOME,LANDING__OUTCOME
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
3,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-12,22:41:00,F9 v1.1,CCAFS LC-40,SES-8,3170,GTO,SES,Success,No attempt

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [23]:
NASA_Total_payload=pd.read_sql("select sum(PAYLOAD_MASS__KG_) as total_payload from SpaceX where CUSTOMER like 'NASA (CRS)%'",pconnect)
NASA_Total_payload

   TOTAL_PAYLOAD
0          24624

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [34]:
F9v1_1_AVG_payload = pd.read_sql("select AVG(PAYLOAD_MASS__KG_) as AVG_payload from SpaceX where BOOSTER_VERSION ='F9 v1.1'",pconnect)
F9v1_1_AVG_payload

   AVG_PAYLOAD
0         3676

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [31]:
Date = pd.read_sql("SELECT MIN(DATE) as Date FROM SpaceX WHERE LANDING__OUTCOME LIKE 'Success (ground pad)%' ",pconnect)
Date

         DATE
0  2017-01-05

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [35]:
Boosters_names = pd.read_sql("SELECT DISTINCT BOOSTER_VERSION FROM SpaceX WHERE MISSION_OUTCOME = 'Success' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000 ",pconnect)
Boosters_names

C:\Users\alexd\anaconda3\envs\ml_env\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   BOOSTER_VERSION
0   F9 B4  B1040.2
1    F9 B4 B1040.1
2    F9 B5 B1046.2
3    F9 B5 B1051.2
4     F9 B5B1062.1
5   F9 FT  B1031.2
6      F9 FT B1020
7      F9 FT B1022
8    F9 FT B1032.1
9          F9 v1.1
10   F9 v1.1 B1011
11   F9 v1.1 B1014

### Task 7

##### List the total number of successful and failure mission outcomes

In [40]:
outcomes = pd.read_sql("SELECT MISSION_OUTCOME, COUNT(MISSION_OUTCOME) as Total FROM SpaceX GROUP BY Mission_Outcome",pconnect)
outcomes

C:\Users\alexd\anaconda3\envs\ml_env\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                    MISSION_OUTCOME  TOTAL
0                           Success     44
1  Success (payload status unclear)      1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [75]:
Boosters_version = pd.read_sql('select BOOSTER_VERSION, PAYLOAD_MASS__KG_ from SpaceX ORDER BY PAYLOAD_MASS__KG_ DESC LIMIT 10',pconnect)
Boosters_version

C:\Users\alexd\anaconda3\envs\ml_env\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  BOOSTER_VERSION  PAYLOAD_MASS__KG_
0   F9 B5 B1048.4              15600
1   F9 B5 B1058.3              15600
2   F9 B5 B1060.2              15600
3   F9 B5 B1049.5              15600
4   F9 B5 B1049.4              15600
5   F9 B5 B1051.5              14932
6    F9 B5B1051.1              12055
7   F9 B4 B1041.1               9600
8   F9 B5 B1049.2               9600
9    F9 B5B1049.1               7060

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [46]:
OUTCOMES = pd.read_sql("SELECT DATE, BOOSTER_VERSION, LAUNCH_SITE FROM SpaceX WHERE YEAR(DATE) = '2015' AND LANDING__OUTCOME = 'Failure (drone ship)'",pconnect)
OUTCOMES

         DATE BOOSTER_VERSION  LAUNCH_SITE
0  2015-10-01   F9 v1.1 B1012  CCAFS LC-40

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [70]:
COUNTS = pd.read_sql("SELECT LANDING__OUTCOME, COUNT(LANDING__OUTCOME) AS COUNT FROM SpaceX WHERE DATE > '2010-06-04' AND DATE < '2017-03-20' GROUP BY LANDING__OUTCOME" ,pconnect)
COUNTS

       LANDING__OUTCOME  COUNT
0    Controlled (ocean)      1
1  Failure (drone ship)      2
2   Failure (parachute)      1
3            No attempt      7
4  Success (drone ship)      2
5  Success (ground pad)      2

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>